.carousel-item{
    background-color: aliceblue;
}

body{
    margin: 4%;
    background-image:linear-gradient(white,LightCyan,PaleTurquoise);
}

.jumbotron {
    background-image: url("kuvat/koti2.jpg");
    background-size: cover;
  }

  .card{
      margin:5%;
  }
  