.carousel-item{
    height: 500px;
    background-color: aliceblue;
}

body{
    margin: 50px;
    background-image:linear-gradient(white,LightCyan,PaleTurquoise);
}

.jumbotron {
    background-image: url("kuvat/koti2.jpg");
    background-size: cover;
  }

  .card{
      margin:5%;
  }